# 내장함수

In [1]:
# abs * 중요 !
print(abs(-3))
print(abs(-1.2))

3
1.2

In [5]:
# all * 중요 !
print(all([1,2,3]))
print(all([11,22,0,44,55]))  # 하나라도 문제(false)가 생기면 멈춤 !
print(all([]))   # 특이사항

True
False
True

In [12]:
# any * 중요 !
print(any([1,2,3,0]))
print(any([0,"",[],False]))
print(any([]))

True
False
False

In [23]:
print(chr(48), end=" ")
print(chr(49), end=" ")
print(chr(50), end='\n')

#아스키코드
print(chr(65), end=" ")
print(chr(66), end=" ")
print(chr(67), end='\n')

# 유니코드 - UTF-8(인코딩 방식)
print(chr(44032))

print(ord('A'), end=" ")
print(ord('가'))
print(chr(int(hex(31)[2:],16)))    # 진수의 변형을 통한 코드 변환법 ^_^

0 1 2
A B C
가
65 44032

In [56]:
# 아스키코드표를 보고 A부터 Z까지 차례로 모두 출력하라.
# 소문자 z부터 a까지 역순으로 모두 차례로 출력하라.

a = []
for n in range(97,123):
    b = chr(n)
    a.append(b)
print(a)
c = list(a)
c.reverse()
print(c)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [75]:
# A1부터 A10까지 증가 후 B1부터 B10까지 증가 그리고 C1부터 C10까지 증가하게 하라.
 # A1, A2, A3 ...A10, B1, B2,.... B10, C1, C2,...C10

for n in range(65,68):
    for x in range(1,11):
        print(f'{chr(n)}{x}', end =" ")

A1 A2 A3 A4 A5 A6 A7 A8 A9 A10 B1 B2 B3 B4 B5 B6 B7 B8 B9 B10 C1 C2 C3 C4 C5 C6 C7 C8 C9 C10

In [ ]:
# 팀플 class 과제 !!
class Calculator :
    def __init__(self):
        self.result1 = 0
        self.result2 = 1   # add/sub와 mult/div는 각각 다른 init으로 걸어줬다 !
    def add(self,num):
        self.result1 += num
        return self.result1
    def sub(self,num):
        self.result1 -= num
        return self.result1
    def mult(self,num):
        self.result2 *= num
        return self.result2
    def div(self,num):
        self.result2 /= num
        return self.result2
        
cal1 = Calculator()

print(cal1.add(10))
print(cal1.sub(10))
print(cal1.mult(10))
print(cal1.div(10))
print(cal1.add(10))
print(cal1.sub(10))
print(cal1.mult(10))
print(cal1.div(10))
print(cal1.add(10))
print(cal1.sub(10))
print(cal1.mult(10))
print(cal1.div(10))
print(cal1.add(10))
print(cal1.sub(10))
print(cal1.mult(10))
print(cal1.div(10))
print(cal1.add(10))
print(cal1.sub(10))
print(cal1.mult(10))
print(cal1.div(10))
print(cal1.add(10))
print(cal1.sub(10))
print(cal1.mult(10))
print(cal1.div(10))

In [ ]:
class Calculator:
    def __init__(self):
        self.result1 = 0
        self.result2 = 1
        
    def mult(self,num):
        self.result2 *= num
        return self.result2

    def add(self,num):
        self.result1 += num
        return self.result1 
    
    def div(self,num):
        self.result2 /= num
        return self.result2
        
    def sub(self,num):
        self.result1 -= num
        return self.result1

cal1 = Calculator()

print(cal1.mult(2))
print(cal1.mult(2))
print(cal1.mult(2))
print(cal1.mult(2))
print(cal1.add(2))
print(cal1.add(2))
print(cal1.add(2))
print(cal1.add(2))
print(cal1.add(2))
print(cal1.div(2))
print(cal1.div(2))
print(cal1.div(2))
print(cal1.div(2))
print(cal1.div(2))
print(cal1.div(2))
print(cal1.div(2))
print(cal1.sub(2))
print(cal1.sub(2))
print(cal1.sub(2))
print(cal1.sub(2))
print(cal1.sub(2))
print(cal1.sub(2))

In [1]:
# 20250218 뭐!!!!!!!!! 12번째 수업이라고!!!!!!!!!!!!!!! 크아아악

In [3]:
# dir 객체가 가지고 있는 함수(메서드)를 보여줌 ! * 중요!
# dir([2,1,3])    ; 리스트
# dir({'1':'a'})  ; 딕셔너리

In [4]:
divmod 몫과 나머지
print(divmod(13,3))    # 튜플처럼 만들 때 유용할지도~ 
print(13//3,13%3)

(4, 1)
4 1

In [5]:
# enumerate ; 열거하다  ** 매우 중요!    > 인덱스의 용도로 많이 쓰일지도~
fruit = ['apple', 'banana', 'kiwi', 'cherry', 'mango']
for i, f in enumerate(fruit, start =1):
    print(i, '순위 과일은 : ', f)

1 순위 과일은 :  apple
2 순위 과일은 :  banana
3 순위 과일은 :  kiwi
4 순위 과일은 :  cherry
5 순위 과일은 :  mango

In [10]:
# eval ; 문자열로 구성된 실행값을 리턴, 보안문제로 안 쓰는 게 좋음 !!
eval('1+2')
eval("'A'+'1'")

'A1'

In [ ]:
# filter(함수, 이터러블)  ** 매우 중요!

In [13]:
# 양수만 판단해서 꺼내는 함수 p246
def positive(l):
    result = []
    for i in l :
        if i > 0:
            result.append(i)
    return result
print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [16]:
def pos(l):
    return [i for i in l if i >0]
print(pos([1,-3,2,0,-5,6]))

[1, 2, 6]

In [18]:
l = [1,-3,2,0,-5,6]
def positive(x):
    return x > 0
list(filter(positive,l))   # true or false의 판단이 여기서 이루어진다. > 참일 때만 값을 꺼냄 !

[1, 2, 6]

In [20]:
print(list(filter(lambda x : x>0, l)))  # list 함수를 써줘야 list로 표현됨

[1, 2, 6]

In [21]:
for n in filter(lambda x: x>0,l):  #  range(4)
    print(n)

1
2
6

In [24]:
# hex, oct, bin
print(hex(234))
print(oct(9))
print(bin(9))

0xea
0o11
0b1001

In [26]:
# id 고유 주솟값을 리턴
a = 3
print(id(3))
print(id(a))
b = a
print(id(b))
print(all([id(3)==id(a),id(a)==id(b),id(b)==id(3)]))   # 셋의 값이 같다 !

140731923760104
140731923760104
140731923760104
True

In [27]:
# input
# input은 스트링(문자)으로 값을 전달받는다. 그러므로 계산시  int나 float으로 변경할 것 !

In [28]:
# int * 중요!
# 문자를 숫자로 변환, 정수로 변환, 소수점이 사라짐

In [31]:
# isinstance ; (object, class), 인스턴스 확인용

class Person:
    def p(self) :
        return("나는 휴먼입니다.")
class Animal : pass
a = Person()
b = Person()
c = Animal()
print(a.p())
print(b.p())
print(isinstance(a,Person))
print(isinstance(b,Person))
print(isinstance(c,Person))

나는 휴먼입니다.
나는 휴먼입니다.
True
True
False

In [33]:
# len **중요 !!
print(len("python"))
print(len([1,2,3,4]))
print(len((1,'a')))

6
4
2

In [34]:
# list *** 매 우 중 요 !!

In [36]:
# map  ** 매우 중요! ; 입력과 출력의 양이 같다!  cf) filter는 출력의 양이 줄어듦!
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result
result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [46]:
def two_times(nl):
    return [y*2 for y in nl]
print(two_times([1,2,3,4]))

[2, 4, 6, 8]

In [38]:
def two_times(x):
    return x * 2
list(map(two_times,[1,2,3,4]))

[2, 4, 6, 8]

In [39]:
list(map(lambda x : x*2,[1,2,3,4]))

[2, 4, 6, 8]

In [50]:
# 테스트
li = [1,2,3,4,5,6]

def odd(x):
    return x%2 !=0
def even(x):
    return x%2 == 0  # filter용

def add(x):
    return x + 10   # 결과값이 참/거짓이 아니기 때문에 filter를 쓰기 곤란하다.
def mul(x):
    return x * x
def addmul(x):
    return (x + 10) * x

print(list(filter(odd,li)))
print(list(filter(even,li)))
print(list(map(add,li)))
print(list(map(mul,li)))
print(list(map(addmul,li)))

[1, 3, 5]
[2, 4, 6]
[11, 12, 13, 14, 15, 16]
[1, 4, 9, 16, 25, 36]
[11, 24, 39, 56, 75, 96]

In [55]:
# max   *중요!
print(max([1,21,4,35,12,61,234,7]))
print(max('python'))  # 문자일 경우 유니코드 값으로 판단

234
y

In [57]:
# min   *중요!
print(min([1,5,3,34,76,-1,45,7]))
print(min('python'))

-1
h

In [60]:
# open  *중요!
f = open('foo.txt','r',encoding="utf-8")
f.read()

''

In [61]:
# pow   *중요!     ;  x를 y 제곱한 결과값을 리턴
print(pow(2,5))

32

In [63]:
# range ** 매우 중요!
# 인수가 하나
print(list(range(5)))

# 인수가 2개
print(list(range(5,10)))

# 인수가 3개
print(list(range(5,10,2)))

# 역순(스탭조절)
print(list(range(15,10,-1)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]
[15, 14, 13, 12, 11]

In [72]:
# round  *중요 !   ; 반올림
print(round(3.45))
print(round(3.446))
print(round(3.495,2))    # 둘째자리에서 반올림 !
print(round(3.5959,3))
print(round(3.54959,4))
print(round(3.749999,5))

3
3
3.5
3.596
3.5496
3.75

In [73]:
# sorted(iteralbe)   ; 정렬된 리스트로 값을 보여줌.
s0 = [3,2,1,4,7,6]
s1 = sorted(s0)
print(s0)     # 원본이 손상되지 않음 !
print(s1)

[3, 2, 1, 4, 7, 6]
[1, 2, 3, 4, 6, 7]

In [81]:
# str *중요      ; 문자열로 변환
num= 23
st=str(num)
print(num,type(num))
print(st,type(st))

23 <class 'int'>
23 <class 'str'>

In [82]:
# sum *중요      ; 이터러블 데이터의 합을 리턴
print(sum([1,2,3,4,5]))

15

In [83]:
# tuple  *중요 !    ; 튜플로 변환
print(tuple("abc"))
print(tuple([1,2,3,4,5,6]))
print(tuple((1,2,3,4,5,6)))

('a', 'b', 'c')
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [77]:
#type **매우 중요!!    ; 자료형 확인
print(type('abc'))
print(type(1234))
print(type(open("foo.txt","r")))     # 파일 자료형

<class 'str'>
<class 'int'>
<class '_io.TextIOWrapper'>

In [80]:
# zip    **매우 중요 !!     ;묶어서 결과값을 보여줌
fruit = ['apple','banana',"kiwi","cherry",'mango']
animal = ['dog','cat','elephant','lion','Rabbit']
num = [11,22,33,44,55]
for f, a, n in zip(fruit, animal, num):
    print(n, ':', f,' => ',a)

11 : apple  =>  dog
22 : banana  =>  cat
33 : kiwi  =>  elephant
44 : cherry  =>  lion
55 : mango  =>  Rabbit

# 표준 라이브러리

In [110]:
# 설치하지 않아도 된다 ~   ; 파이썬 내에 갖고 있는 함수들
import datetime
day1 = datetime.date(2025,2,3)
day2 = datetime.date(2025,7,25)
print(day1," / ",day2)    # 대시가 걸린 형식 !
diff = day2-day1
print("전체 수업기간 : ", diff.days,"일")
diff2 = day2 - datetime.datetime.now().date()
print("남은 수업기간 : ", diff.days,"일")
print("지난 수업기간 : ", diff.days - diff2.days,"일")

2025-02-03  /  2025-07-25
전체 수업기간 :  172 일
남은 수업기간 :  172 일
지난 수업기간 :  15 일

In [111]:
datetime.datetime.now().date()   # .date()를 추가하여 date 타입으로 변환 !

datetime.date(2025, 2, 18)

In [112]:
days = ['월','화','수','목','금','토','일']
day = datetime.date(2080,10,31)
day.weekday()
print("그 날은 "+days[day.weekday()] + "요일 입니다.")

day.isoweekday()  # cf) 1부터 시작 !!

그 날은 목요일 입니다.

4

In [113]:
# 숙제 (팀플숙제~)   ; 날짜 계산기 !!
 # 최근에 나온 기념일을 각자 계산하는 것? - 조원이 4명이므로 4개?
 # import 해서 쓸 수 있도록 함수를 .py로 만들기 ~
# 1) 생일을 입력을 받으면 몇일이 지났는지, 생일날은 무슨 요일인지 계산
# 2) 오늘부터 어린이날이 몇일 남았는지, 그날은 무슨 요일인지 계산
# 3) 오늘부터 어버이날이 몇일 남았는지, 그날은 무슨 요일인지 계산
# 4) 오늘부터 크리스마스가 몇일 남았는지, 그날은 무슨 요일인지 계산
# 5) 수료 후 추석까지 몇일 남았는지 계산

# 깃허브에서 작업하고 폴더 하나에 각자 py 파일로 업로드~

In [114]:
import datetime
def child():
    cd = datetime.date(2025,5,5)
    today = datetime.datetime.now().date()
    diff = cd - today
    days = ['월','화','수','목','금','토','일']
    return f"오늘부터 어린이날까지는 {diff.days}일 남았으며, 어린이날은 {days[cd.weekday()]}요일 입니다."
child()

'오늘부터 어린이날까지는 76일 남았으며, 어린이날은 월요일 입니다.'

In [117]:
import 계산1
계산1.birth()

생일의 월을 입력해주세요! 10
생일의 일을 입력해주세요! 31

생일까지 255일 남았고, 그 날은 금요일 입니다!

In [118]:
import 계산4
계산4.child()

'오늘부터 어린이날까지는 76일 남았으며, 어린이날은 월요일 입니다.'

In [119]:
import 계산3

어버이날까지 남은 날은 79 일 이고, 목요일 입니다.