#### 개인과제 !!!!!! ㅇ0ㅇ

##### 주피터랩에서 데이터를 입력받으면 3가지 DB에 동시에 CRUD가 되는 시스템을 만들어라 !!! 

ex) input을 이용하여 <이름> : 홍길동 (엔터), <나이> 33 (엔터), <주소> 해운대구 (엔터)
입력하고, 데이터를 검색하고, 이름을 고르고 수정하고, 삭제 가능하게 하라 !

In [14]:
##예제 !!
str = """
    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요.
    """
while True:
    print(str)
    inp = input("선택하세요 ! : ")
    print(inp,'고르셨군요 !')
    if inp =='1':
        inp1= input("이름을 입력하세요 !")
        inp2= input("나이를 입력하세요 !")
        inp3= input("주소를 입력하세요 !")
    if inp =='2' or '5':
        print("종료하겠습니다.")
        break

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요.

선택하세요 ! :  1

1 고르셨군요 !

이름을 입력하세요 ! hong
나이를 입력하세요 ! 20
주소를 입력하세요 ! busan

종료하겠습니다.

In [17]:
import mysql.connector
import oracledb
from pymongo import MongoClient

# MySQL 연결
try:
    mysql_conn = mysql.connector.connect(
        host="mysql",
        user="root",
        password="1234"
    )
    if mysql_conn.is_connected():
        print("MySQL 서버에 성공적으로 연결되었습니다.")
        mysql_cursor = mysql_conn.cursor()
        mysql_cursor.execute("CREATE DATABASE IF NOT EXISTS testdb")
        mysql_conn.close()

    mysql_conn = mysql.connector.connect(
        host="mysql",
        user="root",
        password="1234",
        database="testdb"
    )
    mysql_cursor = mysql_conn.cursor()
    print("MySQL 연결 성공!")
except Exception as err:
    print("MySQL 연결 실패!", err)

# Oracle 연결
try:
    oracle_conn = oracledb.connect(
        user="pknu",
        password="1234",
        dsn="oracle/XEPDB1"
    )
    print("Oracle 데이터베이스에 성공적으로 연결 되었습니다!")
    oracle_cursor = oracle_conn.cursor()
except Exception as e:
    print("Oracle 연결 실패:", e)

# MongoDB 연결
client = MongoClient("mongodb://mongodb:27017")
try:
    client.admin.command("ping")
    print("MongoDB 서버에 성공적으로 연결되었습니다.")
except Exception as e:
    print("MongoDB 연결 실패:", e)

# MongoDB DB & Collection 선택
db = client["tdb"]
collection = db["t1"]

# Oracle 테이블 생성
oracle_cursor.execute("""
BEGIN
    EXECUTE IMMEDIATE '
        CREATE TABLE test (
            id NUMBER GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
            name VARCHAR2(50),
            age NUMBER,
            address VARCHAR2(100)
        )';
EXCEPTION
    WHEN OTHERS THEN
        IF SQLCODE != -955 THEN
            RAISE;
        END IF;
END;
""")
print("Oracle 테이블 생성 완료!")

# MySQL 테이블 생성
mysql_cursor.execute("""
CREATE TABLE IF NOT EXISTS test (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    address VARCHAR(100)
)
""")
print("MySQL 테이블 생성 완료!")

MySQL 서버에 성공적으로 연결되었습니다.
MySQL 연결 성공!
Oracle 데이터베이스에 성공적으로 연결 되었습니다!
MongoDB 서버에 성공적으로 연결되었습니다.
Oracle 테이블 생성 완료!
MySQL 테이블 생성 완료!

In [20]:
str = """
    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요.
"""
while True:
    print(str)
    inp = input("선택하세요 ! : ")
    print(inp, '고르셨군요 !')

    if inp == '1':
        name1 = input("이름을 입력하세요 ! : ")
        age1 = input("나이를 입력하세요 ! : ")
        address1 = input("주소를 입력하세요 ! : ")

        # MySQL insert
        sql_mysql = "INSERT INTO test (name, age, address) VALUES (%s, %s, %s)"
        mysql_cursor.execute(sql_mysql, (name1, age1, address1))
        mysql_conn.commit()

        # Oracle insert
        sql_oracle = "INSERT INTO test (name, age, address) VALUES (:1, :2, :3)"
        oracle_cursor.execute(sql_oracle, (name1, age1, address1))
        oracle_conn.commit()

        # MongoDB insert
        test = {"name": name1, "age": age1, "address": address1}
        collection.insert_one(test)

        print("모든 DB에 데이터가 등록되었습니다!")

    if inp == '2':
        name2 = input("조회하실 이름을 입력하세요 ! :")

        # MySQL select
        que = "SELECT * FROM test"
        filters = " WHERE name == {"name1}"
        mysql_cursor.execute(que+filters)
        filtered = cursor.fetchall()
        for f in filtered : 
        print(f"{f}, MySQL에서 조회된 정보입니다.")

        # Oracle select
        

    if inp == '5':
        print("종료하겠습니다.")
        break

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요.

선택하세요 ! :  1

1 고르셨군요 !

이름을 입력하세요 ! :  홍길동
나이를 입력하세요 ! :  22
주소를 입력하세요 ! :  부산

모든 DB에 데이터가 등록되었습니다!

    1. 데이터 등록
    2. 데이터 읽기
    3. 데이터 수정
    4. 데이터 삭제
    5. 종료
    고르세요.

선택하세요 ! :  5

5 고르셨군요 !
종료하겠습니다.