In [ ]:
### 20250410 유성쌤과 다시 돌아온 3번째 수업~~~ ^_^ 오늘도 여전히 CRUD

In [46]:
import mysql.connector

try:
    conn1 = mysql.connector.connect(
        host = "mysql", # MySQL 서버 주소 !
        user = "root",
        password = "1234"
    )
    conn2 = mysql.connector.connect(
        host = "210.119.14.66", # 정민쓰 MySQL 서버 주소 !
        user = "root",
        password = "1234"
    )
    if conn1.is_connected():
        print("MySQL 서버1에 성공적으로 연결되었습니다.")
    if conn2.is_connected():
        print("MySQL 서버2에 성공적으로 연결되었습니다.")
except mysql.connerctor.Erroar as err:
    print("MySQL 연결 실패 !", err)
finally:
    if all([conn1.is_connected(),conn2.is_connected()]):
        print("연결중 ...")

MySQL 서버1에 성공적으로 연결되었습니다.
MySQL 서버2에 성공적으로 연결되었습니다.
연결중 ...

In [47]:
# 커서 생성
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
que = "CREATE DATABASE IF NOT EXISTS ehdb"
cursor1.execute(que)
cursor2.execute(que)
conn1.close()
conn2.close()

In [48]:
# MySQL에 연결
conn1 = mysql.connector.connect(
        host = "mysql", # MySQL 서버주소
        user = "root",
        password ="1234",
        database = "ehdb" # 사용할 데이터베이스 !
)
conn2 = mysql.connector.connect(
        host = "210.119.14.66", # MySQL 서버주소
        user = "root",
        password ="1234",
        database = "ehdb" # 사용할 데이터베이스 !
)
cursor1 = conn1.cursor()
cursor2 = conn2.cursor()
print("MySQL 연결 성공 !")

MySQL 연결 성공 !

In [49]:
# 테이블 생성
query = "CREATE TABLE IF NOT EXISTS user(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), age INT, city VARCHAR(50))"
cursor1.execute(query)
cursor2.execute(query)
print("테이블 생성 완료 !")

테이블 생성 완료 !

In [56]:
# 여러 개의 데이터 삽입 !!
sql = "INSERT INTO user (name, age, city) VALUES (%s, %s, %s)"
m_values = [("햄쮜땃쮜", 1, "Busan"), ("까미까미", 8, "Incheon"), ("바둑바둑쓰", 2, "Jeju")]
cursor1.executemany(sql, m_values)
cursor2.executemany(sql, m_values)
conn1.commit()
conn2.commit()
print("여러 개의 데이터 삽입 완료 !")

여러 개의 데이터 삽입 완료 !

In [37]:
# 특정 사용자 삭제
que = "DELETE FROM user WHERE name = %s"
filters = ["Coolboy"]
cursor1.execute(que, filters)
cursor2.execute(que, filters)
conn1.commit()
conn2.commit()
print(f"{filters}에 해당하는 목록을 삭제하였습니다 ! ")

['Coolboy']에 해당하는 목록을 삭제하였습니다 !

In [54]:
# 모든 사용자 삭제 !!
que = "DELETE FROM ehdb.user"
cursor1.execute(que)
cursor2.execute(que)
conn1.commit()
conn2.commit()
print("user 테이블의 모든 데이터를 삭제하였습니다!")

user 테이블의 모든 데이터를 삭제하였습니다!

In [57]:
# 모든 데이터 조회
que = "SELECT * FROM user"
cursor1.execute(que)
users1 = cursor1.fetchall()
cursor2.execute(que)
users2 = cursor2.fetchall()

# print(users)
print("----서버1의 내용----")
for user1 in users1:
    print(user1)
print("----서버2의 내용----")
for user2 in users2:
    print(user2)

----서버1의 내용----
(28, '햄쮜땃쮜', 1, 'Busan')
(29, '까미까미', 8, 'Incheon')
(30, '바둑바둑쓰', 2, 'Jeju')
----서버2의 내용----
(4, '햄쮜땃쮜', 1, 'Busan')
(5, '까미까미', 8, 'Incheon')
(6, '바둑바둑쓰', 2, 'Jeju')